
(function (factory) {
    if (typeof define === 'function' && define.amd) {
        // AMD 支持
        define(['jquery'],factory);
    } else if (typeof exports === 'object') {
        // Node/CommonJS 支持
        module.exports = factory;
    } else {
        // 浏览器支持
        factory(jQuery);
    }
}(function ($) {
    /**
     * @function : 抽奖类
     * @config : 抽奖类的配置参数
     * */
    var Raffle = function (config) {
        var defaults = {
            index: 1,           //当前亮区位置
            speed: 300,         //初始速度
            Time: null,         //定义对象
            EndIndex: 1,        //决定在哪一格变慢
            cycle: 0,           //转动圈数
            EndCycle: 4,        //计算圈数
            flag: false,        //结束转动标志
            random_num: 4,      //中奖编号ID
            quick: 0,            //步数
			takenNum: [0,0,0,0,0,0], //抽走的数量
			giftNum: [1,1,1,1,1,1], //礼品数量
			customerNum: 10000,  	//顾客人数
            succCB : function(){} //成功后执行的回调函数
        };

        this.settings = $.extend({}, defaults, config) || defaults;
    };
    var $ok = $("#ok"),
        $randomBox = $("#random_box"),
        $randomLis = $randomBox.find(".gift"),
        arr_length = $randomLis.length;
    /**
     * 私有方法,指定概率获得结果
     * @m: 概率的基数。
     * */
    var getRandomNum = function (m) {
        m = m || 10000;
        var randomNum = Math.floor(Math.random() * m + 1);

        if(randomNum >= 1 && randomNum <= 10) //一等奖 中奖概率 10/10000
        {
            return 1;
        }
        if(randomNum >= 11 && randomNum <= 30) //二等奖 中奖概率 20/10000
        {
            return 2;
        }
        if(randomNum >= 31 && randomNum <= 60) //二等奖 中奖概率 30/10000
        {
            return 3;
        }
        if(randomNum >= 61 && randomNum <= 100) //二等奖 中奖概率 40/10000
        {
            return 5;
        }
        if(randomNum >= 101 && randomNum <= 150) //二等奖 中奖概率 50/10000
        {
            return 6;
        }
        if(randomNum >= 151 && randomNum <= 210) //二等奖 中奖概率 60/10000
        {
            return 7;
        }

        return 8;
    };
	
    function Write2Text(filepath, string) {
        var fso = new ActiveXObject("Scripting.FileSystemObject");
        var f = fso.CreateTextFile(filepath, true);
        f.write(string);
		f.write("\r\n");
        f.Close();
    }

    function GetHeader(src) {
        var ForReading = 1;
        var fso = new ActiveXObject("Scripting.FileSystemObject");
        var f = fso.OpenTextFile(src, ForReading);
        return (f.ReadAll());
    }
	

    /**
     * @function : 抽奖类的初始化操作.
     * @num : 指定中奖的id编号.
     * */
    Raffle.prototype.init = function (num) {

        //$ok->抽奖按钮,$randomBox->ul容器
        var _this = this;
        //禁止多次单击抽奖按钮.
        $ok.attr("data-status", "disable");
        //取消选中
        $randomBox.find(".gift").removeClass("random_current");
        //将执行环境设置为_this.settings
        with (_this.settings) {
            /**
             * 执行抽奖后，这些参数将发生改变，初始化的时候，将这些值设为默认值.
             * 更研究的做法是，做一份settings的copy,这样初始化用我们指定的值，而不是硬编码.
             */
			 
			giftNum = GetHeader("./settings/giftnum.txt").split("\r\n");
			customerNum = GetHeader("./settings/customernum.txt").split("\r\n");
			takenNum = GetHeader("./settings/takennum.txt").split("\r\n");	
			
            random_num = getRandomNum(customerNum);
            index = 1;
            cycle = 0;
            flag = false;				

            //让选中ID的后5格变慢.
            if (random_num > 5) {
                EndIndex = random_num - 5;
            } else {
                EndIndex = random_num + arr_length - 5;
            }
            //console.log(this);
            Time = setInterval(function () {
                //console.log(this); //为什么this指向window？为什么会改变执行上下文,因为setInterval的调用者是window对象
                _this.run();
            }, speed);
        }
    };

    /**
     * @function ：抽奖类的核心方法,运行该方法将执行抽奖操作.
     * */
    Raffle.prototype.run = function () {
        var _this = this;

        with (_this.settings) {
            //跑马灯变速
            if (flag == false) {
                //当步进为5时模拟加速
                if (quick == 5) {
                    clearInterval(Time);
                    speed = 50;
                    Time = setInterval(function () {
                        _this.run();
                    }, speed);
                }
                //跑EndCycle圈减速
                if (cycle == EndCycle && index == (EndIndex + 1 )) {
                    clearInterval(Time);
                    speed = 300;
                    flag = true;         //触发结束
                    Time = setInterval(function () {
                        _this.run();
                    }, speed);
                }
            }

            if (index > arr_length) {
                index = 1;
                cycle++;
            }

            //index为当前的格子,prevIndex为当前的前一个格子。
            if (index > 1)
                prevIndex = index - 1;
            else {
                prevIndex = arr_length;
            }

            $("#random_" + (index - 1)).addClass('random_current'); //设置当前选中样式)
            $("#random_" + (prevIndex - 1)).removeClass('random_current'); //取消上次选择样式

            //结束转动并选中号码
            if (flag == true && index == parseInt(random_num)) {
				//中奖，写入抽奖结果
				if(random_num != 4 && random_num != 8)
				{
					talekNum[random_num] = takenNum[random_num] + 1;
					var fso = new ActiveXObject("Scripting.FileSystemObject");
					if(fso.FileExists("./settings/takennum.txt"))
					{
						fso.DeleteFile("./settings/takennum.txt");
					}
					
					var f = fso.CreateTextFile("./settings/takennum.txt", true);					
					for(var i=0; i < takenNum.length; i++)
					{
						f.writeLine(takenNum[i]);
					}
					
					f.close();
				}				
                
				$ok.attr("data-status", "");
                quick = 0;
                succCB.call(this,arguments);
                clearInterval(Time);
            }

            index++;
            quick++;
        }
    };

    //把变量赋值给jquery，避免暴露在全局变量。
    $.Raffle = Raffle;
}));



<!Doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.7.1.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="big.css">
</head>

<body>
    <div id="random_box">
        <div class="container">
            <div class="row">
                <div id="random_0" class="gift col-md-4">
                    斯柯达晶锐汽车使用权一年
                </div>
                <div id="random_1" class="gift col-md-4">
                    iphone 6
                </div>
                <div id="random_2" class="gift col-md-4">
                    1.5匹品牌空调
                </div>
            </div>
            <div class="row">
                <div id="random_7" class="gift col-md-4">谢谢惠顾</div>
                <div id="ok" class="col-md-4">抽奖</div>
                <div id="random_3" class="gift col-md-4">谢谢惠顾</div>
            </div>
            <div class="row">
                <div id="random_6" class="gift col-md-4">品牌洗衣机</div>
                <div id="random_5" class="gift col-md-4">品牌光波炉</div>
                <div id="random_4" class="gift col-md-4">品牌电饭煲</div>
            </div>
        </div>
    </div>
    <script src="raffle.js"></script>
    <script>
    var raffle = new $.Raffle({
        succCB: function() {
            alert("恭喜你，中奖了！");
        }
    });

    $("#ok").click(function() {
        if ($(this).attr("data-status") !== "disable") {
            raffle.init();
        }
    });
    </script>
</body>

</html>
